.cart-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.cart-item{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.cart-item:hover{
    transform: scale(1.05);
}

.cart-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cart-item-info{
    padding: 20px;
}

.cart-item-info button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cart-item-info button:hover{
    background-color: rgb(173, 5, 5);
}